.Block {
    background-color: rgb(150, 136, 118);
    max-height: 300px;
    padding: 20px 0 32px 0;
    margin: 10px;
    flex: 1;
    max-width: 600px;
    border-radius: 15px;
    color: #212529;
    box-shadow: 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 520px) {
    .Block {
        min-width: 55vw;
        flex-direction: column;
        padding: 0;
    }
}